
body {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: rgb(0, 0, 0);
    background-color: black;
    background-image: url(../assets/img/background.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}


.menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    text-shadow: 10cap;
}

.menu li a:hover {
    color: rgb(129, 127, 127);
}

.body-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10%;
    margin-right: 8%;
    
}

.foto-logo {
    display: block;
    max-width: 30%;
    justify-items: center;
}

.foto img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    margin: 30px 30px;
}

.logo {
    display: flex;
    align-items: center;
    margin: 5px 5px;
    justify-content: space-around;
}

.logo img {
    width: 40px;
    height: 40px;
    margin: 15px 15px;
    padding: auto;
    align-content: center;  
}

form {
    margin-left: 20px;
}

.endereco {
    margin-left: 20px;
}

.text {
    display: flex;
    text-align: justify;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    text-align: justify;
    color: antiquewhite;
}

hr {
    margin: 50;
}
.endereco {
    color: blanchedalmond;
    font-size: 14px;
}
label {
    color: blanchedalmond;
}
.fmensagem {
    padding-bottom: 30px;
}
button {
    font-size: 14px;
    color: rgb(0, 0, 0);
}
.text h1 {
    font-size: 20px;
    margin-bottom: 0px;
    align-content: center;
    justify-content: space-around;
}

h5 {
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
}

p {
    font-size: 16px;
    margin-top: 5%;
    margin-bottom:  0px;
}